<div class="about">
    <div class="about__container">
        <div class="about__figure">
            <img src="@img(about)" alt="Beautyshop">
        </div>
        <div class="about__main">
            <h3 class="about__title">
                <span>sobre a</span> 
                <strong>beauty<span>shop</span></strong>
            </h3>
            <div class="about__content">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                <p>Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
            </div>
        </div>
    </div>
</div>