<div class="about">
    <div class="about__container">
        <div class="about__figure">
            <img src="@img(about)" alt="Beautyshop">
        </div>
        <div class="about__main">
            <h3 class="about__title">
                <strong>
                    MAS COMO TODOS os COMPONENTES DE <br>
                    NAÄRA TRABaLHAM EM SEU CORPO?
                </strong>
            </h3>
            <div class="about__content">
                <p>Eles atuam diretamente no suposição dos nutrientes e sais minerais necessários para melhora da pele e articulações e recompõe camadas celulares de repocição das unhas, cabelo e da pele;</p>
                <p>Agem na produção de derme e epiderme, responsáveis pela composição da pigmentação da pele; Melhora o desenvolvimento de novos fios e bulbos capilares;</p>
                <p>Contribuiem no rejuvenescimento das células da pele, unhas, cabelo e evita muitas doenças.de derme e epiderme, responsáveis pela composição da pigmentação da pele; Melhora o desenvolvimento de novos fios e bulbos capilares;</p>
            </div>
        </div>
    </div>
</div>