<div class="about-list">
    <div class="about-list__container">
        <div class="about-list__header">
            <h3 class="about-list__title">
                Conheça os Benefícios
            </h3>
            <div class="about-list__descriptions">
                <p>Composição rica em vitaminas, antioxidantes e aminoácidos essenciais</p>
            </div>
        </div>
        <div class="about-list__main">

            <div class="about-list__list">

                <div class="about-list__item">
                    <div class="about-list__image">
                        <img src="@img(melhora-da-pele)" alt="Melhora da pele">
                    </div>
                    <h4 class="about-list__name">Melhora da Pele</h4>
                    <div class="about-list__text">
                        Reduz os sinais de envelhecimento precoce, assim como melhorando o aspecto de quem já possui algumas marquinhas de expressões, mantém a pele mais elástica e macia, com mais firmeza o que reduz também as chances da flacidez da face.
                    </div>
                </div>

                <div class="about-list__item">
                    <div class="about-list__image">
                        <img src="@img(reduz-as-celulites)" alt="Reduz as celulites">
                    </div>
                    <h4 class="about-list__name">Reduz as celulites</h4>
                    <div class="about-list__text">
                        Através da melhora da elasticidade da pele, e também em conjunto com a alimentação que ajuda muito na saúde das unhas, cabelo e pele. Protege os ossos e as articulações. Suas unhas ficam mais fortes. Combate principalmente as celulites e estrias.
                    </div>
                </div>

                <div class="about-list__item">
                    <div class="about-list__image">
                        <img src="@img(protege-o-cabelo)" alt="Protege o cabelo">
                    </div>
                    <h4 class="about-list__name">Protege o cabelo</h4>
                    <div class="about-list__text">
                        Ajuda a previnir a calvície, pois os cabelos ficam mais bonitos, brilhosos e diminui drasticamente a queda de cabelo. Sua pele fica mais rígida e mais bonita, prevenindo a flacidez e rugas retardando o envelhecimento.
                    </div>
                </div>

            </div>

        </div>
        <div class="about-list__footer">
            <a class="about-list__link" href="#">Faça seu pedido</a>
        </div>
    </div>
</div>