<div class="questions">
    <div class="questions__container">
        <div class="questions__header">
            <h3 class="questions__title">DÚVIDAS GERAIS SOBRE NAÄRA BEAUTY DRINK</h3>
            <div class="questions__descriptions">
                reunimos as perguntas mais frequentes feitas por nossos clientes e parceiros
            </div>
        </div>
        <div class="questions__main">
            <div class="questions__list">

                <div class="questions__item">
                    <h4 class="questions__name">O que é Naara Beauty Drink?</h4>
                    <div class="questions__text">
                        Naära Beauty Drink (Naara, a Bebida da Beleza) é um suplemento a base de colágeno hidrolisado de alta qualidade fabricado pela empresa de renome Jeunesse, empresa essa que é especializada em produtos de beleza, que conta com inovações da ciência para proporcionar melhorias e qualidade de vida para os seus clientes. Por isso o Naära é um dos colágenos hidrolisados considerado como um dos melhores da indústria de cosméticos, por ter sido pensado e produzido a fim de promover os melhores benefícios para as pessoas que o utilizarem. Não é apenas um produto “cosmético” que funciona para melhorar a beleza, mas além disso age como um suplemento alimentar, visto que o colágeno é uma proteína que produzimos mais ao longo do tempo vai sendo perdida.
                    </div>
                </div>
                <div class="questions__item">
                    <h4 class="questions__name">O que é Naara Beauty Drink?</h4>
                    <div class="questions__text">
                        Naära Beauty Drink (Naara, a Bebida da Beleza) é um suplemento a base de colágeno hidrolisado de alta qualidade fabricado pela empresa de renome Jeunesse, empresa essa que é especializada em produtos de beleza, que conta com inovações da ciência para proporcionar melhorias e qualidade de vida para os seus clientes. Por isso o Naära é um dos colágenos hidrolisados considerado como um dos melhores da indústria de cosméticos, por ter sido pensado e produzido a fim de promover os melhores benefícios para as pessoas que o utilizarem. Não é apenas um produto “cosmético” que funciona para melhorar a beleza, mas além disso age como um suplemento alimentar, visto que o colágeno é uma proteína que produzimos mais ao longo do tempo vai sendo perdida.
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>