<div class="video-show">
    <div class="video-show__container">
        <div class="video-show__header">
            <h3 class="video-show__title">E O QUE MAIS FALAM SOBRE NAÄRA?</h3>
            <div class="video-show__descriptions">
                Muita gente que já experimentou o Naära está falando dele por ai, confira mais algumas opiniões:
            </div>
        </div>
        <div class="video-show__main">
            <iframe width="100%" height="704" src="https://www.youtube.com/embed/OWfVJREru1I" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
    </div>
</div>