
<div class="footer__row footer__row--payments-send-social-security">
    <div class="footer__box">
        <h3 class="footer__title">Links Úteis</h3>
        <div class="footer__content">
            {{block type="menubuilder/output" identifier="footer-categorias"}}
        </div>
    </div>
    <div class="footer__box">
        <h3 class="footer__title">Links Úteis</h3>
        <div class="footer__content">
            {{block type="menubuilder/output" identifier="footer-conta"}}
        </div>
    </div>
    <div class="footer__box">
        <h3 class="footer__title">Segurança e Certificados</h3>
        <div class="footer__content">
            {{widget type="interface/widget_seals" template="interface/widgets/seals.phtml" identificador="securitys" seals="all"}}
        </div>
    </div>
    <div class="footer__box">
        <h3 class="footer__title">
            Forma de Pagamentos
        </h3>
        <div class="footer__content">
            {{widget type="interface/widget_pagtos" template="interface/widgets/pagtos.phtml" identificador="payments" pagtos="all"}}
        </div>
    </div>
</div>