<div class="about-list about-list--green">
    <div class="about-list__container">
        <div class="about-list__header">
            <h3 class="about-list__title">
                Naara é totalmente seguro
            </h3>
            <div class="about-list__descriptions">
                <p>Naara é produzido respeitando todas as normas vigilância sanitária e por ter em sua composição</p>
                <p>apenas produtos natuaris orgânicos, é totalmente seguro para consumo.</p>
            </div>
        </div>
        <div class="about-list__main">

            <div class="about-list__list">

                <div class="about-list__item">
                    <div class="about-list__image">
                        <img src="@img(nao-interfere-no-aticoncepcional)" alt="Melhora da pele">
                    </div>
                    <h4 class="about-list__name">
                        Não interfere no <br>
                        anticoncepcional
                    </h4>
                    <div class="about-list__text">
                        As vitaminas não interferem na eficácia do anticoncepcional. Além disso, elas não possuem nenhuma tipo de interação medicamentosa.
                    </div>
                </div>

                <div class="about-list__item">
                    <div class="about-list__image">
                        <img src="@img(nao-engorda-e-nao-retem-liquido)" alt="Reduz as celulites">
                    </div>
                    <h4 class="about-list__name">
                        Não engorda e <br>
                        não retém líquido
                    </h4>
                    <div class="about-list__text">
                        Com seu complexo totalmente natural, o Naära Beaty Drink não interfere nos níveis hormonais ou metabólicos do organismo cuidando da saúde sem afetar seu peso.
                    </div>
                </div>

                <div class="about-list__item">
                    <div class="about-list__image">
                        <img src="@img(lactantes-podem-utilizar)" alt="Protege o cabelo">
                    </div>
                    <h4 class="about-list__name">
                        Lactantes <br>
                        podem utilizar
                    </h4>
                    <div class="about-list__text">
                        Naära Beauty Drink não possui nenhuma contraindicação para quem está amamentando, pois são vitaminas e minerais naturais.
                    </div>
                </div>

            </div>

        </div>
        <div class="about-list__footer">
            <a class="about-list__link" href="#">Faça seu pedido</a>
        </div>
    </div>
</div>