<div class="box-benefits">
    <div class="box-benefits__container">
        <div class="box-benefits__header">
            <h3 class="box-benefits__title">NAÄRA TAMBÉM TRAZ OUTROS BENEFÍCIOS</h3>
            <img src="@img(title)" alt="title">
            <div class="box-benefits__descriptions">
                Combate as dores nas articulações e previne o envelhecimento precoce das células da pele, unhas e do cabelo em homens e mulheres, pois seus componentes contribuem para o desenvolvimento celular e combate a perda de colágeno no corpo.
            </div>
            <div class="box-benefits__strong">POR ISSO, INDICAMOS NAÄRA SE…</div>
        </div>
        <div class="box-benefits__main">
            <div class="box-benefits__list">
            
                <div class="box-benefits__item">
                    <div class="box-benefits__image">
                        <img src="@img(sofre-com-dores-nas-articulacoes)" alt="Sofre com dores nas articulações">
                    </div>
                    <h4 class="box-benefits__name">
                        Sofre com dores <br>
                        nas articulações
                    </h4>
                </div>
            
                <div class="box-benefits__item">
                    <div class="box-benefits__image">
                        <img src="@img(tem-a-pele-vulneravel-e-unhas-fracas)" alt="Tem a pele vulnerável e unhas fracas">
                    </div>
                    <h4 class="box-benefits__name">
                        Tem a pele vulnerável <br>
                        e unhas fracas
                    </h4>
                </div>
            
                <div class="box-benefits__item">
                    <div class="box-benefits__image">
                        <img src="@img(esta-insatisfeito-com-o-cabelo-ou-a-pele)" alt="Está insatisfeito com o cabelo ou a pele">
                    </div>
                    <h4 class="box-benefits__name">
                        Está insatisfeito com <br>
                        o cabelo ou a pele
                    </h4>
                </div>

            </div>
        </div>
        <div class="box-benefits__footer">
            <a class="box-benefits__link" href="#">Faça seu pedido</a>
        </div>
    </div>
</div>