<div class="box-comments">
    <div class="box-comments__container">
        <div class="box-comments__header">
            <h3 class="box-comments__title">QUEM USOU NAÄRA BEAUTY DRINK RECOMENDA</h3>
            <div class="box-comments__descriptions">
                Confira esse time de mulheres que descobriram os benefícios do Naära Beauty Drink e recomendam
            </div>
        </div>
        <div class="box-comments__main">
            <div class="box-comments__list">
            
                <div class="box-comments__item">
                    <div class="box-comments__image">
                        <img src="https://fakeimg.pl/325x400/" alt="">
                    </div>

                    <div class="box-comments__text">
                        “Naära foi uma descoberta que mudou a saúde dos meus cabelos e pele. Estou usando há alguns meses, de início era para tratar queda capilar e acelerar o crescimento dos fios, mas o resultado está sendo incrível pois também percebi que minha pele está mais firme e minhas unhas estão com excelente aspecto” 
                    </div>

                    <div class="box-comments__author">
                        <strong>Isaura de Freitas</strong>
                        <span>Rio de Janeiro-RJ</span>
                    </div>
                </div>
                <div class="box-comments__item">
                    <div class="box-comments__image">
                        <img src="https://fakeimg.pl/325x400/" alt="">
                    </div>

                    <div class="box-comments__text">
                        “Naära foi uma descoberta que mudou a saúde dos meus cabelos e pele. Estou usando há alguns meses, de início era para tratar queda capilar e acelerar o crescimento dos fios, mas o resultado está sendo incrível pois também percebi que minha pele está mais firme e minhas unhas estão com excelente aspecto” 
                    </div>

                    <div class="box-comments__author">
                        <strong>Isaura de Freitas</strong>
                        <span>Rio de Janeiro-RJ</span>
                    </div>
                </div>
                <div class="box-comments__item">
                    <div class="box-comments__image">
                        <img src="https://fakeimg.pl/325x400/" alt="">
                    </div>

                    <div class="box-comments__text">
                        “Naära foi uma descoberta que mudou a saúde dos meus cabelos e pele. Estou usando há alguns meses, de início era para tratar queda capilar e acelerar o crescimento dos fios, mas o resultado está sendo incrível pois também percebi que minha pele está mais firme e minhas unhas estão com excelente aspecto” 
                    </div>

                    <div class="box-comments__author">
                        <strong>Isaura de Freitas</strong>
                        <span>Rio de Janeiro-RJ</span>
                    </div>
                </div>
                <div class="box-comments__item">
                    <div class="box-comments__image">
                        <img src="https://fakeimg.pl/325x400/" alt="">
                    </div>

                    <div class="box-comments__text">
                        “Naära foi uma descoberta que mudou a saúde dos meus cabelos e pele. Estou usando há alguns meses, de início era para tratar queda capilar e acelerar o crescimento dos fios, mas o resultado está sendo incrível pois também percebi que minha pele está mais firme e minhas unhas estão com excelente aspecto” 
                    </div>

                    <div class="box-comments__author">
                        <strong>Isaura de Freitas</strong>
                        <span>Rio de Janeiro-RJ</span>
                    </div>
                </div>
                <div class="box-comments__item">
                    <div class="box-comments__image">
                        <img src="https://fakeimg.pl/325x400/" alt="">
                    </div>

                    <div class="box-comments__text">
                        “Naära foi uma descoberta que mudou a saúde dos meus cabelos e pele. Estou usando há alguns meses, de início era para tratar queda capilar e acelerar o crescimento dos fios, mas o resultado está sendo incrível pois também percebi que minha pele está mais firme e minhas unhas estão com excelente aspecto” 
                    </div>

                    <div class="box-comments__author">
                        <strong>Isaura de Freitas</strong>
                        <span>Rio de Janeiro-RJ</span>
                    </div>
                </div>
                <div class="box-comments__item">
                    <div class="box-comments__image">
                        <img src="https://fakeimg.pl/325x400/" alt="">
                    </div>

                    <div class="box-comments__text">
                        “Naära foi uma descoberta que mudou a saúde dos meus cabelos e pele. Estou usando há alguns meses, de início era para tratar queda capilar e acelerar o crescimento dos fios, mas o resultado está sendo incrível pois também percebi que minha pele está mais firme e minhas unhas estão com excelente aspecto” 
                    </div>

                    <div class="box-comments__author">
                        <strong>Isaura de Freitas</strong>
                        <span>Rio de Janeiro-RJ</span>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>