color1_font = #FFFFFF
color1_font_hover = #FFFFFF
color1_bg = #4b3881
color1_bg_hover = #37295f
color2_font = #FFFFFF
color2_font_hover = #FFFFFF
color2_bg = #f8a8b6
color2_bg_hover = #eba4a4
color3_font = #FFFFFF
color3_font_hover = #FFFFFF
color3_bg = #605875
color3_bg_hover = #494459
button_font = #FFFFFF
button_font_hover = #FFFFFF
button_bg = #4b3881
button_bg_hover = #37295f
// images
down = '/media/interface/images/down.png'
check = '/media/interface/images/check.png'