.banner
    .cms-home .header-container + &
        @media (min-width: 993px)
            margin-top: -40px

        @media (max-width: 992px)
            margin-top: -5px

    img
        min-width: 100%
        object-fit: cover

.banner
    &--nojs .banner
        &__wrapper
            display: flex

            @media (max-width: 500px)
                display: block

        &__item
            &:first-child
                flex: 1 1 279px
                min-width: 0

                @media (min-width: 501px)
                    margin-right: gap

                @media (max-width: 500px)
                    margin-bottom: gap

            &:last-child
                flex: 1 1 879px
                min-width: 0
