.banner
    .cms-home .header-container + &
        @media (min-width: 993px)
            margin-top: -40px

        @media (max-width: 992px)
            margin-top: -5px

    img
        min-width: 100%
        object-fit: cover

.banner
    &--nojs .banner
        img
            width: 100%
            object-fit: cover

        &__wrapper
            display: flex

            @media (max-width: 500px)
                display: block
