@keyframes animateMenu
    0%
        top: 65px
        z-index: 30

    50%
        top: 90px
        z-index: 10

    100%
        top: 15px
        z-index: 10

@keyframes animateReturn
    0%
        top: 15px
        z-index: 10

    50%
        top: 90px
        z-index: 10

    100%
        top: 65px
        z-index: 30

@keyframes animateDown
    0%
        top: 15px
        z-index: 10
        opacity: 0

    50%
        top: 65px
        z-index: 10
        opacity: 0

    100%
        top: 65px
        z-index: 30
        opacity: 1

.categories
    font-family: var(--font-secundary)

    &__show
        order: -1
        background: none
        color: var(--tertiary)

        &:hover
            background: none
            color: var(--tertiary)

    @media mobile
        .parent
            position: relative

            &:after
                content: ''

            > a
                display: flex
                justify-content: flex-start
                align-items: center
                min-height: 48px

        .all-li--0
            padding-bottom: 0

        &__all
            .box--1
                &:before
                    display: block
                    margin-bottom: 10px
                    padding: 10px 16px
                    color: var(--primary-contrast)
                    content: 'todas as categorias'
                    text-transform: uppercase
                    font-weight: bold
                    font-size: 12px

        &--mobi
            .all-li--0:first-child
                background: rgba(0, 0, 0, .1)

                .all-a--0
                    color: var(--secundary)

            .all-li--0, .all-li--1
                box-shadow: none

            .all-a--0
                text-transform: uppercase
                font-weight: bold
                font-size: 12px

            .all-a--1
                text-transform: uppercase
                font-weight: regular
                font-size: 12px

            .all-ul--1
                background: none

    @media desktop
        position: absolute
        top: 65px
        left: 0
        z-index: 30
        flex: 1
        margin-bottom: 0 !important
        min-width: 0
        width: 100%
        background: none

        .loginout, .mymenu
            display: none

        [data-scrolling=true] &
            top: 15px
            z-index: 10
            animation: .2s animateMenu linear

        [data-scrolling=false] &
            top: 65
            animation: .2s animateReturn linear

        [data-scrolling-up=true] &
            top: 75px
            animation: .2s animateDown linear

        .ul--0
            position: relative
            justify-content: space-between
            padding: 8px 10px
            max-width: 'calc(100% - %s)' % gap
            width: viewport
            border-radius: 3px
            background: var(--primary)

        .a--0
            height: 34px
            color: var(--primary-contrast)
            text-transform: uppercase
            white-space: nowrap
            font-weight: bold
            font-size: 12px

        .a--1, .all-a--0
            color: var(--tertiary)
            text-transform: uppercase
            font-weight: bold
            font-size: 12px

        .all-a
            &--0, &--1
                &:hover
                    box-shadow: none

            &--1
                font-weight: regular
                font-size: 12px

        .li--0
            flex: 0 0 auto
            order: 1

            &:hover
                .a--0
                    background: none
                    color: var(--secundary)

        .box--1
            border-radius: 4px

        &__all
            order: 2

            .a--0
                line-height: 35px

        &--justify
            .ul--1
                max-width: 100%
                width: 400px

            .categories__all.drop--top .box--1
                top: 44px

        &__products, &__block
            border-left: 0

            .title, .product-rate
                display: none

            .product, .products
                &__case
                    border: 0

                &__main
                    display: flex
                    flex-flow: column nowrap
                    padding: 0

                    .product__name
                        order: 1

                    .price-box
                        order: 2

                    .price-box-avista
                        order: 4

                    .price-box-parcelado
                        order: 3

                &__item:hover
                    .products__case
                        border: 0
