.header
    justify-content: space-between
    padding: 10px 0
    transition: all 0.2s ease-in-out

    @media desktop
        .mymenu
            &, .ul--0, .li--0
                display: contents

            .li--0
                .a--0
                    order: 4

                &:nth-child(1)
                    .a--0
                        order: 1

                &:nth-child(2)
                    .a--0
                        order: 2

        .logo
            order: 3

        .mycart
            order: 5

    .scrolling &
        @media media-min-lg
            padding: 5px 0

    &-container
        position: sticky
        top: 0
        background: #fff