.loginout
    color: var(--tertiary)
    font-weight: regular
    font-size: 12px

    .header &
        margin-left: 50px

        @media (max-width: 992px)
            display: none

    .categories &
        &, a
            color: var(--secundary-contrast)

        &
            display: flex
            justify-content: flex-start
            align-items: center
            padding-left: 16px
            height: 35px

    a
        display: inline
        color: var(--tertiary)

        &:hover
            color: var(--secundary)