.logo
    .header &
        img, svg
            margin: 0 auto
            width: auto
            height: 50px

            + svg
                display: none

        @media mobile
            flex: 1
            min-width: 0