.logo
    .header &
        img, svg
            margin: 0 auto
            width: 147px
            height: 25px

            + svg
                display: none

        @media mobile
            flex: 1
            min-width: 0