.mycart
    .header &
        position: relative
        z-index: 20
        margin-left: 50px

    &__header
        a
            position: relative
            display: block
            padding: 10px 20px

        .qtd
            position: absolute
            top: 0
            right: 0
            display: flex
            justify-content: center
            align-items: center
            width: 20px
            height: 20px
            border-radius: 50%
            background: var(--tertiary)
            color: var(--tertiary-contrast)
            font-weight: regular
            font-size: 12px

        .ico
            width: 19px
            height: 26px
            color: var(--secundary)

    &__content
        display: none !important