.mycart
    &__header
        a
            position: relative
            display: flex
            justify-content: center
            align-items: center
            width: 53px
            height: 46px

        .ico
            width: 40px
            height: 30px

        .qtd
            position: absolute
            top: 0
            right: 0
            display: flex
            justify-content: center
            align-items: center
            width: 18px
            height: 18px
            border: solid 2px var(--primary)
            border-radius: 50%
            background: #fff
            color: var(--primary)
            font-size: 12px

    &__content
        display: none !important