.mymenu
    .header &
        @media mobile
            position: fixed
            top: 0
            left: 0
            z-index: 100
            visibility: hidden
            width: 100%
            height: 100%
            background: rgba(0, 0, 0, 0.5)
            opacity: 0
            transition: all 0.2s ease-in-out

            &:after
                position: absolute
                top: 0
                left: 300px
                display: flex
                justify-content: center
                align-items: center
                width: 50px
                height: 50px
                color: #fff
                content: '+'
                font-weight: regular
                font-size: 40px
                transform: rotate(45deg)

            .menu-show &
                visibility: visible
                opacity: 1

            .ul--0
                position: relative
                padding: 20px
                max-width: calc(100% - 60px)
                width: 300px
                height: 100%
                background: #fff
                transition: all 0.4s ease
                transform: translateX(-100%)

                .menu-show &
                    transform: translate(0)

        @media (max-width: 370px)
            &:after
                right: 10px
                left: auto

        .a--0
            padding: 8px 20px
            border-radius: 30px
            color: var(--secundary)
            text-transform: uppercase
            font-weight: medium
            font-size: 12px
            line-height: 1

            @media desktop
                &:hover
                    color: var(--primary)

        .light
            a
                border: solid 2px var(--primary)
                color: var(--primary)

                &:hover
                    background: var(--primary)
                    color: var(--primary-contrast)

    .categories &
        .li--0, .a--0
            display: block !important
            text-align: left

        .a--0
            font-weight: regular
            font-size: 12px

    .footer &
        .a--0
            color: #303030
            text-transform: uppercase
            font-weight: regular
            font-size: 12px

        .li--0
            margin-bottom: 0

            &.light
                padding-top: 30px

                .a--0
                    padding: 10px 25px
                    border-radius: 35px
                    background: var(--primary)
                    color: var(--primary-contrast)
                    text-transform: uppercase
                    font-size: 14px

.menu-button
    display: flex
    justify-content: center
    align-items: center
    padding: 0
    width: 50px
    height: 50px
    background: none
    box-shadow: none
    color: var(--primary)
    font-size: 20px

    @media desktop
        display: none

    &:before
        icon('\f0c9')

    &:hover
        background: none
        color: var(--primary)