.mymenu
    .header &
        margin-left: 50px

        @media (max-width: 992px)
            display: none

        .li--0, .a--0
            line-height: 1

        .a--0
            color: var(--tertiary)
            font-weight: regular
            font-size: 12px

            &:hover
                color: var(--secundary)

    .categories &
        .li--0, .a--0
            display: block !important
            text-align: left

        .a--0
            font-weight: regular
            font-size: 12px

    .footer &
        .a--0
            color: var(--primary-contrast)
            text-transform: uppercase
            font-weight: regular
            font-size: 12px

        .li--0
            margin-bottom: 0

#footer-categorias
    .ul--0
        column-count: 2