.price-box
    display: flex
    justify-content: flex-start
    align-items: center

    .old-price
        margin-bottom: 0

        .label, .price
            span
                color: var(--tertiary)
                font-weight: regular
                font-size: 14px

        + .special-price
            margin-left: 5px

    .regular-price, .special-price, .minimal-price
        .label, .price
            display: inline

            span
                color: var(--tertiary)
                font-weight: regular
                font-size: 20px

    .prod__prices &
        display: block
        margin-bottom: 0

        .old-price
            line-height: 1.6

            + .special-price
                margin-left: 0

            .label, .price
                span
                    font-size: 16px

        .regular-price, .special-price
            .label, .price
                span
                    color: var(--secundary)
                    font-weight: semibold
                    font-size: 22px

.price-box-parcelado
    .prod__prices &
        margin-bottom: 0
        line-height: 22px

    .preco-parcelado-sem-juros
        .upto, .s-juros
            display: none

        &, .num, .de, .value
            &, span
                color: var(--tertiary)
                font-weight: regular
                font-size: 14px

                .prod__prices &
                    font-size: 15px

        &:before
            content: 'ou'

        &:after
            content: 'no cartão'

    .preco-parcelado
        display: none

.price-box-avista
    display: block

    .label
        display: none

    .products__item &, .price span
        color: var(--tertiary)
        font-size: 12px

    .prod__prices &
        &
            color: var(--tertiary)
            font-size: 12px

        .price span
            color: var(--secundary)

    &:before
        content: 'ou'

    &:after
        content: 'com desconto à vista no boleto'