.price-box
    .old-price
        margin-bottom: 0
        text-decoration: line-through

        .label, .price
            span
                color: var(--primary)
                font-weight: regular
                font-size: 14px

        + .special-price
            margin-left: 5px

    .regular-price, .special-price, .minimal-price
        .label span
            color: var(--primary)
            font-weight: regular
            font-size: 14

        .price span
            color: var(--primary)
            font-weight: bold
            font-size: 24px

    .prod__prices &
        display: block
        margin-bottom: 0

        .old-price
            line-height: 1.6

            + .special-price
                margin-left: 0

            .label, .price
                span
                    font-size: 16px

        .regular-price, .special-price
            .label, .price
                span
                    color: var(--secundary)
                    font-weight: semibold
                    font-size: 22px

.price-box-parcelado
    .prod__prices &
        margin-bottom: 0
        line-height: 22px

    .preco-parcelado-sem-juros
        .upto, .s-juros
            display: none

        &, .de
            &, span
                color: var(--green)
                font-weight: bold
                font-size: 12px

                .prod__prices &
                    font-size: 15px

        .num, .value
            &, span
                color: var(--green)
                font-weight: bold
                font-size: 18px

                .prod__prices &
                    font-size: 18px

        &:before
            content: 'ou'

        &:after
            content: 'no cartão'

    .preco-parcelado
        display: none

.price-box-avista
    display: none

    .label
        display: none

    .products__item &, .price span
        color: var(--tertiary)
        font-size: 12px

    .prod__prices &
        &
            color: var(--tertiary)
            font-size: 12px

        .price span
            color: var(--secundary)

    &:before
        content: 'ou'

    &:after
        content: 'com desconto à vista no boleto'