.product-essential
    @media (max-width: 568px)
        #product_addtocart_form
            display: flex
            flex-flow: column nowrap

            > div > div
                order: 10

                &.sharing-links
                    order: 20