.related
    margin-top: 40px

    &__subtitle, &__add-checkbox, .owl-pagination
        display: none

    &__title
        color: var(--secundary)
        text-align: center
        text-transform: uppercase
        font-weight: semibold
        font-size: 14px