.tabs
    &__tab
        padding: 0
        border: 0
        color: var(--secundary)
        font-weight: semibold
        font-size: 16px

    &__content
        padding: 0
        border: 0

        &, .std
            color: var(--tertiary)
            text-transform: uppercase
            font-weight: regular
            font-size: 12px