.toolbar
    --toolbar-select-bg: #f2f2f2

    .limiter, .amount
        display: none

    select
        padding: 0 40px 0 15px
        height: 36px
        border: 0
        border-radius: 0
        border-radius: 2px
        background: var(--toolbar-select-bg) url(down) no-repeat right 15px top 12px
        box-shadow: none
        color: var(--tertiary)
        font-weight: regular
        font-size: 12px
        appearance: none

    .sort-by
        label
            padding-right: 30px
            color: var(--tertiary)
            font-weight: regular
            font-size: 13px
            opacity: 1

    @media mobile
        flex: 0 0 100%
        order: -1
        justify-content: center

        .sort-by
            margin-left: 0
