.cms-home
    .main-container
        overflow: hidden
        max-width: 100%
        width: 100%

        .products
            margin: 0 auto
            max-width: calc(100% - 36px)
            width: viewport